<!doctype html>
<html ng-app="angular_chat">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
    <div pub-key="pub-c-bc1da37d-273c-435a-9a21-a985367403dc" sub-key="sub-c-bfc0aa26-0e32-11e5-a5c2-0619f8945a4f" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
    <script src="angular-chat.js"></script>
     <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.css">
  </head>
  <body>
  <div class='container-fluid' ng-controller="chatCtrl">
    <div class = "container">
        <div class = "row">
          <div class = "col-lg-16">
            <div class="jumbotron">
              <h1>Nathan's Chat Server</h1>
              <p>Using AngularJS and PubNub</p>
            </div>
            
            
            <div>

                <p>&nbsp;</p>
                <div ng-show="realtimeStatus == 0">
                 <span><h2 class="text-danger">Disconnected...</h2></span>
                </div>
                <div ng-show="realtimeStatus == 1">
                  <span><h2 class="text-info">Connecting...</h2></span>
                </div>
                <div ng-show="realtimeStatus == 2">
                  <span><h2 class="text-success">Successfully Connected</h2></span>
                </div>
                <div ng-show="loggedIn" id="logout">
                  <span ng-click="attemptLogout()"><a class="btn btn-warning">Log Out</a></span>
                </div>
              </div>
              <p>&nbsp;</p>
              <div ng-show="errorMsg">
                <i></i> <h3>Error: {{errorMsg}}</h3>
</div>
            
            
            
            
            
            
            <div ng-Show="!loggedIn" id="login">
              <h2>Login</h2>
              
              <div class="form-group">
                <label class="control-label" for="username">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="message.username">
                  <span class="input-group-btn" ng-click="attemptLogin()">
                    <button class="btn btn-success" type="button">Go Chat</button>
                  </span>
                </div>
              </div>

            </div>
            <div ng-Show="loggedIn" id="chat">
              <table>
                <tr ng-repeat="chat in chatMessages">
                    <td>
                        <b>{{chat.username}}</b><br/>
                        <small>
                         {{chat.date}} </br> {{chat.time}}
                        </small>
                    </td>
                    <td>
                      <p>      </p>
                    </td>
                      <td colspan="2">{{chat.text}}</td>
                   
                </tr>
                <tr ng-show="chatMessages.length == 0">
                  <td colspan="3">No messages yet!</td>
                </tr>
              </table>
            </div>
            <form ng-Show="loggedIn" ui-keypress="{13:'postMessage()'}">
              <div class="form-group">
                <div id="inputMessage" class="input-group">
                  <input type="text" class="form-control" placeholder="Type Message Here" ng-model="message.text">
                  <span class="input-group-btn" ng-click="postMessage()">
                    <button class="btn btn-success" type="button">Send</button>
                  </span>
                </div>
              </div>
            </form>
            
      

            
   
          </div>
       </div>
      </div>
  </body>
</html>
