#chat {
 height: 33em; 
 overflow: auto;
 background-color: #C9FFD5;
 border-radius: .25em;
 margin-bottom: 1em;
}

.status {
  float: left;
  margin-top: -1em;
}

#logout {
  float: right;
  margin-top: -1.2em;
}
